RewriteEngine On
RewriteBase /app/CS242/Portfolio/

RewriteRule ^/$ index.php?module=svn
RewriteRule ^revision/(.*)/$ index.php?module=revision&path=$1 [L]
RewriteRule ^preview/(.*)$ index.php?module=preview&path=$1 [L]
RewriteRule ^(.*)/$ index.php?module=svn&path=$1


RewriteRule ^test/(.*)$ index.php?test=1&module=$1
